.sidenav-container {
    height: 100%;
}
  
.logo {
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
}
  
.mat-drawer-side {
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
  
.sidenav {
    width: 200px;
}
  
.sidenav .mat-toolbar {
    background: inherit;
}
  
.space-filler {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}
